<h1>Ruby on Whales B-Side</h1>
<% if current_account %>
  <%= link_to "Sign Out", destroy_account_session_path, method: :delete %>
  <h2>Hello <code><%= current_account.email %></code></h2>
  <ul>
    <% Whiskey.all.each do |whiskey| %>
      <li>
        <%= whiskey.description %>
        <em>Price: €<%= whiskey.price %></em>
        <% if whiskey.photo.attached? %>
          <code><%= url_for(whiskey.photo) %></code>
          <%= image_tag(whiskey.photo) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <%= link_to "Sign In", new_account_session_path %>
<% end %>
