<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ruby on Whales B-Side</title>
    <meta name="version" content="<%= ::VERSION %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Fira+Sans&display=swap' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class = "notice" ><%= notice %></p>
    <p class = "alert" ><%= alert %></p>
    <%= yield %>
  </body>
</html>
